/papers/*.bak
/code/*/build
/code/*/nbproject/private
/code/*/*.apk
/reports/*~
/website/settings.php
/*.keystore
/code/ActivityClassifier/.settings
/code/ActivityClassifier/assets
/code/ActivityClassifier/bin
/code/ActivityClassifier/gen
/code/ActivityClassifier/.classpath
/code/ActivityClassifier/.project
/code/ActivityClassifier/default.properties
